.resizable-textarea {
  position: relative;
  display: flex;
}

.resizable-textarea textarea {
  flex: none;

  height: 100%;

  /* on désactive le handle natif */
  resize: none;

  box-sizing: border-box;

  padding: 5px;
  border-radius: 20px;

  min-height: 300px;
}
.resizable-textarea-right {
  margin-left: auto;
}

.resizable-textarea .handle {
  position: absolute;
  bottom: 0;
  width: 12px;
  height: 12px;
  background: gray;

  /* curseur diagonal */
  user-select: none;
}

.handle-left {
  left: 0;
  cursor: nwse-resize;
}
.handle-right {
  right: 0;
  cursor: nwse-resize;
}
